.interfaceContainer {
    height: 100%;
    background-color: #3a3b3c;
    font-family: "LEMONMILK";
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.overlayControlsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerBorder {
    /* border: 2px solid white; */
}

.title {
    text-decoration: underline;
    margin: 20px;
}

.team2LogoContainer {
    margin: 10px;
    padding: 5px;
    background-image: url(../IngameOverlay/images/right_logo_bar.png);
    background-repeat: no-repeat;
    height: 76px;
    width: 95px;
    display: flex;
    justify-content: center;
}

.team1LogoContainer {
    margin: 10px;
    padding: 5px;
    background-image: url(../IngameOverlay/images/left_logo_bar.png);
    background-repeat: no-repeat;
    height: 76px;
    width: 95px;
    display: flex;
    justify-content: center;
}

.logo {
    
}

.mainButton {
    width: 420px;
    margin: 10px;
} 

.gamesWonInput {
    width: 40px;
    margin-top: 30px;
}

.bestOfContainer {
    display: flex;
}

.bestOfButton {
    margin: 10px;
}

.bestOfInput {
    width: 40px;
    margin: 10px;
}

.toggleButtonContainer {

}

.toggleButtonContainerInner {
    margin: 10px;
    display: flex;
    align-items: center;
}

.toggleButtonContainerInner p {
    margin-left: 10px;
}

.toggleButton {
    margin: 10px;
}

.toggleButton input {
    visibility: hidden;
}

.teamText {
    margin: 10px 10px 0 10px;
}

.selectTeamContainer {
    display: flex;
}

.pointButton1 {
    width: 40px;
    margin: 10px;
    margin-bottom: 0;
}

.pointButton2 {
    width: 40px;
    margin: 10px;
}

.scoreButtonContainer {
    display: flex;
}

.saveToSeriesButton {
    flex-grow: 10;
}

.autosaveButton {

}

.autosaveButton input {
    visibility: hidden;
}

.spaceBetweenSeriesButtons {
    flex-grow: 1;

}

.resetButton {
    flex-grow: 2;
}

.twitchPollContainer {
    padding-top: 200px;
}