.background {
  background-image: url(../../assets/images/Finals-Bracket.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 1920px;

  font-family: "LEMONMILK";
  font-size: 35px;
  color: white;
  padding-top: 200px;
}

.extra {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 1920px;
}

.teamline {
  height: 83px;
  margin-left: 140px;
  display: flex;
}

.secondLine {
  padding-top: 38px;
}

.secondColumnSecondLine {
  padding-top: 36px;
}

.thirdPlace {
  padding-top: 87px;
}

.bracket {
  display: flex;
  height: 800px;
}

.round1 {
  padding-top: 107px;
  margin-right: 2px;
}

.round2 {
  padding-top: 66px;
  margin-right: -3px;
}

.round3 {
  padding-top: 200px;
  margin-right: 3px;
}

.matchup {
  margin-top: 74px;
}

.TeamLogo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 6px;
}

.TeamName {
  font-family: "LEMONMILK";
  font-size: 35px;
  width: 325px;
  padding-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
  text-align: right;
}

.TeamScore {
  font-family: "LEMONMILK";
  font-size: 35px;
  width: 80px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: right;
}

.UpperScore{
  margin-top: -30px;
}
.LowerScore{
  margin-top: 30px;
}

.MoreInFront {
  z-index: 3;
}

.qf1T1W { background-image: url(../../assets/images/FinalsExtra/QF1-1-Winner.png); }
.qf1T2W { background-image: url(../../assets/images/FinalsExtra/QF1-2-Winner.png); }
.qf2T1W { background-image: url(../../assets/images/FinalsExtra/QF2-1-Winner.png); }
.qf2T2W { background-image: url(../../assets/images/FinalsExtra/QF2-2-Winner.png); }
.sf1T1W { background-image: url(../../assets/images/FinalsExtra/SF1-1-Winner.png); }
.sf1T2W { background-image: url(../../assets/images/FinalsExtra/SF1-2-Winner.png); }
.sf2T1W { background-image: url(../../assets/images/FinalsExtra/SF2-1-Winner.png); }
.sf2T2W { background-image: url(../../assets/images/FinalsExtra/SF2-2-Winner.png); }
/* .fT1W { background-image: url(../../assets/images/FinalsExtra/F1-Winner.png); } */
.fT2W { background-image: url(../../assets/images/FinalsExtra/F2-Winner.png); }
.thT1W { background-image: url(../../assets/images/FinalsExtra/3rd-1-Winner.png);}
.thT2W { background-image: url(../../assets/images/FinalsExtra/3rd-2-Winner.png); }