.Player {
  width: 20%;
  min-width: 280px;
  margin-bottom: 2px;
}

.Name {
  margin: 0;
  font-size: 1.3em;
  font-family: "LEMONMILK";
  color: white;
  text-align:center;
}

.Boost {
  padding: 5px;
  font-size: 3em;
  margin: 0;
  text-align:center;
}

.BoostTransition {
  transition: width 0.15s ease;
}

.Blue {
  /* border: 4px solid #1E2C4A; */
  /* background: linear-gradient(180deg, rgba(28, 46, 74, 0.8) 0%, rgba(29, 47, 75, 0.85) 100%); */
  background-image: url(./left_bar_bigger_trans.png);
  /* opacity: 0.15; */
  border-radius: 0 10px 10px 0;
  border-left:none;
}

.Red {
  /* border: 4px solid	#7a1712; */
  /* background: linear-gradient(180deg, rgba(104, 27, 29, 0.8) 0%, rgba(105, 28, 30, 0.8) 100%); */
  background-image: url(./right_bar_bigger_trans.png);
  border-radius: 10px 0 0 10px;
  border-right:none;
}

/* .Blue .Boost {
  color: blue;
  text-shadow:1px 1px 10px #305bd5, 1px 1px 10px skyblue;
} */

/* .SelectedPlayer {
  border: 4px solid	#ffffff;
} */

/* .Red .Boost {
  color:	#ff6e1b;
  text-shadow:1px 1px 10px 	#c96125, 1px 1px 10px #a8421a;
} */


