.background {
  background-image: url(../../assets/images/Games-On-Stream.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 1920px;

  font-family: "LEMONMILK";
  font-size: 38px;
  color: white;
}

.topTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topTitle {
  text-align: center;
  font-family: "LEMONMILK";
  font-size: 101px;
  margin: 0;
}

.topSecondaryTitle {
  margin-top: -30px;
  margin-bottom: 35px;
  text-align: center;
  font-family: "LEMONMILK";
  font-size: 48px;
}

.topSecondaryTitleBold {
  font-family: "LEMONMILK";
}

.gameOnStreamContainer {
  margin-top: 388px;
  height: 483px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameOnStreamRowContainer {
  display: flex;
  /* justify-content: center; */
  margin-left: 176px;
}

.gameOnStreamRow {
  display: flex;
  align-items: center;
  width: 1375px;
  height: 137px;
  background-image: url(../../assets/images/Game-On-Stream-Row.png);
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.blueLogo {
  height: 70px;
  width: 70px;
  margin-right: 40px;
  margin-bottom: 58px;
  margin-left: 13px;
}

.blueName {
  font-family: "LEMONMILK";
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 59px;
  width: 360px;
  text-transform:uppercase;
  text-align: right;
}

.time {
  font-family: "LEMONMILK";
  font-size: 30px;
  width: 95px;
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 59px;
}

.orangeName {
  font-family: "LEMONMILK";
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 59px;
  width: 360px;
  text-transform:uppercase;
}

.orangeLogo {
  height: 70px;
  width: 70px;
  margin-left: 43px;
  margin-bottom: 59px;
}