.background {
  background-image: url(../../assets/images/Games-On-Stream.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 1920px;

  font-family: "MontBold";
  font-size: 39px;
  color: white;
  padding-top: 50px;
}

.topTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topTitle {
  text-align: center;
  font-family: "MontBlack";
  font-size: 101px;
  margin: 0;
}

.topSecondaryTitle {
  margin-top: -30px;
  margin-bottom: 35px;
  text-align: center;
  font-family: "MontSemiBold";
  font-size: 48px;
}

.topSecondaryTitleBold {
  font-family: "MontHeavy";
}

.gameOnStreamContainer {
  height: 628px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameOnStreamRowContainer {
  display: flex;
  justify-content: center;
}

.gameOnStreamRow {
  display: flex;
  align-items: center;
  width: 1375px;
  height: 137px;
  background-image: url(../../assets/images/Game-On-Stream-Row.png);
  background-repeat: no-repeat;
  padding: 0 60px;
  margin-bottom: 20px;
}

.blueLogo {
  height: 80px;
  width: 80px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.blueName {
  font-family: "MontBold";
  font-size: 40px;
  width: 385px;
  padding-top: 10px;
  text-transform:uppercase;
  text-align: right;
}

.time {
  font-family: "MontHeavy";
  font-size: 57px;
  width: 265px;
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 5px;
}

.orangeName {
  font-family: "MontBold";
  font-size: 40px;
  width: 390px;
  padding-top: 10px;
  text-transform:uppercase;
}

.orangeLogo {
  height: 80px;
  width: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
}