html {
  --logo-container-margin: 4px;
  --slide-animation-distance: 100px;
}

.BoostOverlay {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.BlueSide {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.BlueSideSlideIn {
  transition: 2s ease-in-out all;
}

.BlueSideSlideOut {
  transform: translate(calc(-1 * var(--slide-animation-distance)));
  transition: 2s ease-in-out all;
  transition-delay: 1s;
}

.OrangeSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  position: relative;
}

.OrangeSideSlideIn {
  transition: 2s ease-in-out all;
}

.OrangeSideSlideOut {
  transform: translate(var(--slide-animation-distance));
  transition: 2s ease-in-out all;  
  transition-delay: 1s;
}

.ExtraInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 500px;
}

.ExtraInfo {
  width: 16%;
}

.BlueContainer {
  border: 4px solid #305bd5;
  background: rgb(249,249,249);
  background: linear-gradient(180deg, rgba(249,249,249,0.80) 0%, rgba(203,203,203,0.85) 100%);
}

.OrangeContainer {
  border: 4px solid	#a8421a;
  /* opacity: 0.75; */
}


.CurrentPlayerOuterContainer{
  margin-top: 598px;
  margin-left: 252px;
  margin-right: 267px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  z-index: 2;
}

.CurrentPlayerContainer {
  border: 4px solid #1c2e4a;
  border-radius: 10px;
  background: rgb(249,249,249);
  background: rgb(59,59,59);
  background: linear-gradient(180deg, rgba(28, 46, 74, 0.8) 0%, rgba(29, 47, 75, 0.85) 100%);
  font-family: "LEMONMILK";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CurrentTargetText{
  font-family: "LEMONMILK";
  color: white;
  font-size: 25px;
  margin: 0;
}

.CurrentTargetText p{
  margin: 0;
  margin-bottom: 15px;
}

.statContainer{
  display: flex;
}

.statItem {
  width: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.statItem img {
  height: 40px;
}

.statItem p {
  margin: 0;
}

.SmallText {
  font-size: 10px;
}

.CurrentBoostContainer {
  border: 4px solid #1c2e4a;
  width: 163px;
  height: 124px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(28, 46, 74, 0.8) 0%, rgba(29, 47, 75, 0.85) 100%);
  font-family: "LEMONMILK";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CurrentBoostTextContainer {
  margin: 0
}

.CurrentBoostText p{
  font-family: "LEMONMILK";
  color: white;
  font-size: 25px;
  margin: 0;
}

.CurrentBoostNumber {
  font-size: 50px;
  margin: 0;
}

.CurrentReplayOuterContainer{
  margin-left: 252px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  z-index: 2;
}

.CurrentReplayContainer {
  border: 4px solid #1c2e4a;
  width: 333px;
  height: 124px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(28, 46, 74, 0.8) 0%, rgba(29, 47, 75, 0.85) 100%);
  font-family: "LEMONMILK";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replayStatContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.replayStatItem {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.replayStatItem img {
  height: 40px;
}

.replayStatItem p {
  margin: 0;
}

.LowerLeftCorner{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
  z-index: -1 ;
}

.fade-out{
  opacity: 1;
  transition: opacity 2.5s ease-out;
}

.fade-out-exit-active {
  opacity: 0;
}