.container {
    /* background-image: url(../../../assets/images/static-BG.png);
    background-repeat: no-repeat; */
    height: 1080px;
    width: 1920px;
    font-family: "LEMONMILK";
    color: white;
    font-size: 170px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreText {
    width: 500px;
    text-align: center;
}

.team2LogoContainer {
    height: 531px;
    width: 531px;
    display: flex;
    justify-content: center;
}

.team1LogoContainer {
    height: 531px;
    width: 531px;
    display: flex;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 100%;
}