.background {
  background-image: url(../../assets/images/Current-Standings.png);
  background-repeat: no-repeat;
  height: 100vh; 

  font-family: "LEMONMILK";
  font-size: 45px;
  color: white;
  padding-top: 320px;
}

.StandingsRow {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  padding-left: 233px;
  height: 88px;
}

.StandingsRow p {
  margin-top: -5px;
}

.pname {
  width: 472px;
}

.pplayed {
  width: 100px;
  padding-right: 15px;
  text-align: center;
}

.pwon {
  width: 100px;
  text-align: center;
}

.plost {
  width: 100px;
  text-align: center;
}

.pgameswon {
  width: 100px;
  text-align: center;
}

.pgameslost {
  width: 100px;
  text-align: center;
}

.ppoints {
  width: 100px;
  text-align: center;
  font-weight: 500;
}


.Logo {
  height: 65px;
  width: 65px;
  margin-right: 35px;
  margin-top: -4px;
}

