@font-face {
  font-family: 'LEMONMILK';
  src: url('./assets/fonts/LEMONMILK-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'LEMONMILKREGULAR';
  src: url('./assets/fonts/lemon_milk/LEMONMILK-Regular.otf') format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
